body{
    font-family: 'Open-sans', sans-serif;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    
}
.row{
    width:100%;
    margin: auto;
    padding: 1px 15px;
}

a{
    text-decoration: none;
}
section{
    padding:50px;
}
img{
    width: 100%;
}

/* Global class*/
#skills{
    text-align: left;
}

.green{
    color: #0BA783;
}

.btn-send{
    background: #444444;
    border: none;
    border-radius:5px;
    color: #fff;
    width: 220px;
    margin:40px;
    height: 50px;
    
}
.btn-send i{
    margin-right: 4px;
}
.btn-send:hover{
    background: #FFFFFF;
    color: #8E8E8E;
}



.border{
    border-bottom: 4px solid #56a79a;
}
/* NAVBAR */
nav {
    height: 40px;
    width: 100%;
    background-color: #333;
    color: #eee;
    position: fixed;
    text-align: center;
  }
  nav ul {
    padding: 0;
    margin: 0;
  }
  nav li {
    display: inline;
    
  }
  nav a {
    display: inline-block;
    width: 100px;
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
    color: #eee;
    text-decoration: none;
  }
  nav li:hover {
    background-color: #444;
  }
  nav a#openup {
    display: none;
  }


/* Showcase 
/**/
#showcase {
    background: url(../img/showcase.jpg) no-repeat center/cover;
}
#showcase hr{
    width: 80%;
}

#showcase .row{
    height: 100vh;
}

#showcase .icons{
    font-size:50px;
}

#showcase i{
    color: #000000;
}

/* Sobre */
#about{
    background: #2B2B2B;
}

#about h2{
    color:#FFFFFF;

}
#about p{
    color: #6B6B6B;
}

#about ul{
    color: #6B6B6B;
    list-style: none;
    text-align: left;
    padding: 0;
}

/* Resumo */
#resume{
    background: #FFFFFF;
}

#resume h1{
}
#resume p{
    color: #6B6B6B;
}

#resume ul{
    padding:0;
    text-align: left;
    list-style: none;
}

#resume h2{
    text-align: left;
}

/*portifolio*/
#portifolio{
    background: #EBEEEE;
    box-sizing: border-box; 
    margin: 15px;
}

#portifolio i{
    margin-right:3px;
}
#portifolio a{
    display: block;
    padding: 10px;
    margin: 4px;
}

#portifolio a:hover{
    background: #EECE1A;
}

.light{
    background:#C4C4C4;
    color: #000000;
}

.dark{
    background: #000000;
    color: #FFFFFF;
}

#footer{
    background: #0F0F0F;
    color: #fff;
    padding: 15px;
}

/* Medias query*/
@media screen and (max-width: 580px) {
    nav {
      height: auto;
      border-bottom: 0;
    }
    nav ul {
      display: none;
      height: auto;
    }
    nav li {
      width: 100%;
      float: left;
      position: relative;
    }
    nav a {
      text-align: left;
      width: 100%;
      text-indent: 25px;
      background: #333;
      border-bottom: 1px solid #555;
    }
    nav a:hover {
      background: #444;
    }
    nav a#openup:after {
      content: "|||";
      transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      /* IE 9 */
      -webkit-transform: rotate(-90deg);
      /* Safari and Chrome */
      width: 30px;
      height: 30px;
      display: inline-block;
      position: absolute;
      right: 5px;
      top: 20px;
    }
    nav a#openup {
      display: block;
      background-color: #333;
      width: 100%;
      position: relative;
    }
  }
  .cf:before, .cf:after {
    content: "";
    display: table;
  }
  
  .cf:after {
    clear: both;
  }
  
  
  
  /* For IE 6/7 (trigger hasLayout) */
.btn-send{
    width: 100%;
}
